/****************************
/*color themeing
/****************************/

/* HEX REFERENCE: https://oklch.com/
flamingo ff3399
lavender cc66ff
lemon ffff33
lime 7ad151
magenta cc0066
plum 330033
purple 660066
tangerine ff9933 */

:root {
	/* color-scheme: light dark; */

	--brand-primary: oklch(35.8% 0.16456016007256816 328.3634179234515);

	--flamingo: oklch(67.02% 0.246 356.4);
	--lavender: oklch(69.37% 0.228 312.73);
	--lemon: oklch(96.91% 0.20052121903256453 109.62279760389258);
	--lime: oklch(77.9% 0.184 137.01);
	--magenta: oklch(54.57% 0.22 2.11);
	--plum: oklch(22.53% 0.10354943370724017 328.36341792345144);
	--purple: var(--brand-primary);
	--tangerine: oklch(77.37% 0.1629242564458139 60.27624333879814);

	/* brand gradients */
	--sunset: linear-gradient(-45deg, var(--lemon) 42%, var(--flamingo) 100%);
	--sherbert: linear-gradient(-45deg, var(--lemon) 25%, var(--tangerine) 75%, var(--lavender) 100%);
	--dusk: linear-gradient(45deg, var(--plum) 15%, var(--purple) 40%, var(--magenta) 65%, var(--flamingo) 100%);

	/* color value sets */
	--dark: var(--plum);
	--darkest: oklch(18.53% 0.10354943370724017 328.36341792345144);

	--light: oklch(96.91% 0 109.62279760389258);
	--lightest: oklch(100% 0 0);
}

.sunset-gradient,
.sherbert-gradient,
.dusk-gradient {
	background-attachment: fixed;
}

.sunset-gradient {
	background-color: var(--lemon);
	background-image: var(--sunset);
}

.sherbert-gradient {
	background-color: var(--lavender);
	background-image: var(--sherbert);
}

.dusk-gradient {
	background-color: var(--plum);
	background-image: var(--dusk);
}

.text-bg-flamingo {
	color: var(--dark);
	background-color: var(--flamingo);
}

.text-bg-lavender {
	color: var(--dark);
	background-color: var(--lavender);
}

.text-bg-lemon {
	color: var(--dark);
	background-color: var(--lemon);
}

.text-bg-lime {
	color: var(--dark);
	background-color: var(--lime);
}

.text-bg-tangerine {
	color: var(--dark);
	background-color: var(--tangerine);
}

.insta {
	background-color: oklch(70.97% 0.174 44.51);
	background-image: linear-gradient(
		to bottom right,
		oklch(54.06% 0.209 269),
		oklch(52.49% 0.199 280.35),
		oklch(50.42% 0.188 308.56),
		oklch(56.3% 0.191 350.4),
		oklch(60.46% 0.213 6.78),
		oklch(63.22% 0.248 28.28),
		oklch(67.65% 0.189 33.77),
		oklch(70.97% 0.174 44.51),
		oklch(81% 0.148 71.13),
		oklch(90.49% 0.118 89.16)
	);
}

.pinterest {
	background-color: oklch(58.24% 0.236 25.54);
}

/* prefers color scheme dark */
@media (prefers-color-scheme: dark) {
	html {
		/*text colors */
		--accent: var(--lightest);
		--text-color: var(--light);

		/*background colors*/
		--fill: var(--darkest); /*contrasting areas*/
		--field: var(--dark); /*background*/

		--shadow: oklch(4% 0.018 279.88);
		--gradient: var(--sherbert);
	}
}

/* prefers color scheme light */
@media (prefers-color-scheme: light) {
	html {
		/*text colors */
		--accent: var(--brand-primary);
		--text-color: var(--dark);

		/*background colors*/
		--fill: var(--lightest); /*contrasting areas*/
		--field: var(--light); /*background*/

		--shadow: oklch(22.09% 0.018 279.88 / 15%);
		--gradient: var(--dusk);
	}
}

body {
	color: var(--text-color);
	background-color: var(--field);
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 img,
h2 img,
.logo {
	color: var(--accent);
}

p,
small {
	color: var(--text-color);
}

p a,
p a:link {
	color: var(--text-color);
	isolation: isolate;
	position: relative;
	text-decoration: none;

	border-color: var(--accent);
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

p a::after {
	content: '';
	background-image: var(--gradient);
	border-radius: 2px;
	display: block;

	position: absolute;
	top: -0.25em;
	left: -0.25em;

	width: 0;
	height: 2em;
	z-index: -1;
	transition: width 200ms ease-in-out;
}

p a:visited {
	color: var(--flamingo);
	border-color: var(--flamingo);
}

p a:focus,
p a:hover {
	color: var(--field);
	border-color: var(--field);
}

p a:focus::after,
p a:hover::after {
	width: calc(100% + 0.5rem);
}

p a:active {
	font-weight: 900;
	background-image: var(--gradient);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;

	border-image: var(--gradient) 10;
	border-bottom-width: 3px;
}

p a:active::after {
	width: 0;
}

.box-shadow {
	box-shadow: 0 0.25rem 0.75rem var(--shadow);
}

.logo,
.links {
	background-color: var(--fill);
	color: var(--accent);
	fill: var(--accent);
}

.links {
	border: 2px solid var(--accent);
}

.links h2 img,
.logo svg {
	color: var(--accent);
}

.icon-link,
.icon-link .bi {
	color: var(--lightest);
	fill: var(--lightest);
}
