@use "spacing";

/****************************
/* Grid Layout
/****************************/

.u-container {
	max-width: spacing.$grid-max-width;
	padding-inline: spacing.$grid-gutter;
	margin-inline: auto;
}

.u-grid {
	display: grid;
	gap: spacing.$grid-gutter;
}

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr, auto, 1fr;
	grid-template-areas: 'header' 'main' 'footer';
	justify-items: center;
}

header {
	grid-area: header;
	display: flex;
	justify-content: center;
}

main {
	grid-area: main;
	margin: spacing.$space-xl spacing.$grid-gutter;
}

.link-container {
	display: flex;
	flex-direction: column;
	gap: spacing.$space-xl;
}

footer {
	grid-area: footer;
	display: flex;
	flex-direction: column;
	gap: spacing.$space-s;
	text-align: center;
}
