---
layout: "base.njk"
---

<section class="link-container">

    {% for links in combined %}

    <a id="{{ links.name }}" class="links box-shadow" href="{{ links.linkurl }}" title="Shop on {{ links.name }}"
        rel="noopener noreferrer">
        {% if links.offer %}
        <span class="theme-{{ links.color }} box-shadow text-small"> {{ links.offer | safe }} </span>
        {% endif %}
        <h2>
            <picture>
                <source srcset="./assets/img/{{ links.name }}-logow.webp" media="(prefers-color-scheme:dark)">
                <img src="./assets/img/{{ links.name }}-logo.webp" alt="shop on {{ links.name }}" width="256"
                    height="200" />
            </picture>
        </h2>
    </a>
    {% endfor %}

</section>
<section>
    <h2>About</h2>
    <p>The Julia Set is a graphic designer using digital mediums to explore retro designs from 50s inspired
        Kitsch to 80s heavy Synthwave, always focusing on colors and joy. Designs are available at the above
        retailers on a variety of materials including tee shirts, stickers, home goods and more.</p>
</section>