---
layout: base.njk
---

<section class="link-container">
    <!-- RedBubble -->
    <a id="redBubble" class="links box-shadow" href="https://www.redbubble.com/people/thejuliaset/"
        title="https://www.redbubble.com/people/thejuliaset/">
        <span class="theme-flamingo box-shadow text-small">Cool Promo</span>
        <h2>
            <picture>
                <source srcset="./assets/img/redbubble-logow.webp" media="(prefers-color-scheme:dark)">
                <img src="./assets/img/redbubble-logo.webp" alt="shop on RedBubble" width="256" height="200" />
            </picture>
        </h2>
    </a>

    <!-- TeePublic -->
    <a id="teepublic" class="links box-shadow" href="https://www.teepublic.com/user/the-julia-set/"
        title="https://www.teepublic.com/user/the-julia-set/">
        <span class="theme-tangerine box-shadow text-small">Awesome Prices</span>
        <h2>
            <picture>
                <source srcset="./assets/img/teepublic-logow.webp" media="(prefers-color-scheme:dark)">
                <img src="./assets/img/teepublic-logo.webp" alt="shop on TeePublic" width="256" height="100" />
            </picture>
        </h2>
    </a>

    <!-- Threadless -->
    <a id="threadless" class="links box-shadow" href="https://thejuliaset.threadless.com/"
        title="https://thejuliaset.threadless.com/">
        <span class="theme-lime box-shadow text-small">Discounts!</span>
        <h2>
            <picture>
                <source srcset="./assets/img/threadless-logow.webp" media="(prefers-color-scheme:dark)">
                <img src="./assets/img/threadless-logo.webp" alt="shop on Threadless" width="256" height="100" />
            </picture>
        </h2>
    </a>

    <!-- Society6 -->
    <a id="society6" class="links box-shadow" href="https://society6.com/becausejulia"
        title="https://society6.com/becausejulia">
        <span class="theme-lavender box-shadow text-small">👀 😍 🎨</span>
        <h2>
            <picture>
                <source srcset="./assets/img/society6-logow.webp" media="(prefers-color-scheme:dark)">
                <img src="./assets/img/society6-logo.webp" alt="shop on Society6" width="256" height="100" />
            </picture>
        </h2>
    </a>
</section>